---
---

@import "{{ site.theme }}";

// To center images
.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

// To condense task list checkboxes
.task-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
